rules:
    - LaraStrict\Conventions\PHPStan\UsableInContainerRule

services:
    -
        class: LaraStrict\Conventions\PHPStan\UsableInContainerRule
        tags: [phpstan.rules.rule]
        arguments:
            enabled: false
            # Ensure that classes that extends these classes are injectable
            extends:
                - Illuminate\Console\Command
                - Illuminate\Database\Seeder
            # Do not check if classes that has these suffixes are injectable
            excludeSuffixes:
                - Interface
                - Expectation
                - Assert
            # Check classes in these namespaces
            namespaces:
                - \Actions\
                - \Contracts\
                - \Services\
                - \Queries\
                - \Transformers\
                - \Controllers\
                - \Listeners\
                - \Managers\
                - \Policies\
                - \Middlewares\
                - \Middleware\
                - \Factories\
                - \Resolvers\
            # Do not check if classes file contains these folders
            excludeFolders:
                - tests

parameters:

    # it is impossible to map toArray()
    checkMissingIterableValueType: false
